<!-- Author: Darius  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health App Group 5</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Terps Health Tracking</h1>
    <div class="buttons">
      <div id = "signUp">
        <p>Don't have an Account?</p>
        <a href="/templates/signUp.html"><button>Sign Up!</button></a>
      </div>
      <div id = "logIn">
        <p>Keep Tracking Your Progress Terps</p>
        <a href="/templates/loginPg.html"><button>Log In!</button></a>
    </div>
  </div>
  <script src="server.js"></script>
</body>
</html>
