<!--Author: Darius-->>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up For Terps Health Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <h1 class="title">Welcome to Terps Health Tracking</h1>
      <form id="signUp_form" style="text-align: center;">
        <!-- Name -->
        <input type="text" id="name" placeholder="First and Last Name">
        <!-- Username -->
        <input type="text" id="username" placeholder="Username">
        <!-- Password -->
        <input type="password" id="password" placeholder="Password">
        <!-- Height -->
         <!-- README: Need to have it so it can be in or cm -->
        <input type="" id="height" placeholder="Height NOT DONE">
        <!-- Weight -->
        <!-- README: Need to have it so it can be ibs or kg -->
        <input type="number" id="weight" placeholder="Weight NOT DONE">
        <!-- DOB -->
        <input type="date" id="dob" placeholder="Date of Birth NOT DONE">
        <br>
        <a href="/templates/dashboardPg.html"><button id="signUp_button" disabled="disabled">Sign Up</button></a>
        <br>
      </form>
      <a href="/templates/index.html"><button id="home_page">Back to Home Page</button></a>

    <script src="server.js"></script>
  </body>
  </html>